<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="icon" type="x-icon" href="../static/to-do-list-16.png">

    <title>Home | Task Trek</title>
</head>

<body>
    <img id="dark-change" src="../static/sun.png" alt="Light Mode">
    <div id="logo">
        <img class="logo" src="../static/to-do-list-32.png" alt="To Do Logo">
        <span class="logo-name">Task Trek</span>
    </div>
    <!-- <h1>Home Page</h1> -->
    <div class="container">
        <div class="box1">
            <button id="add">Add Task</button>
            <button id="view">View Tasks</button>
            <form action="/logout" method="post">
                <button id="logout">Logout</button>
            </form>
        </div>
        <div class="box2" id="card-area">
            <div class="card">
                <h2>Task 1</h2>
                <p><b>Description Lorem ipsum, dolor sit amet consectetur adipisicing elit.</b></p>
                <p>Due Date</p>
                <p>Status</p>
            </div>
        </div>
        <div class="box3" id="add-form" style="display: none;">
            <form>
                <label for="task-name">Task Name:</label>
                <input type="text" id="task-name">
                <label for="task-description">Task Description:</label>
                <textarea name="task-description" id="task-description" cols="30" rows="10"></textarea>
                <label for="due-date">Due Date:</label>
                <input type="date" name="due-date" id="due-date">
                <button id="add-task-button">Add Task</button>
            </form>
        </div>
    </div>
    <script src="../static/home.js"></script>
</body>

</html>